<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SubtitleRows</title>

</head>

<body>
	<div th:insert="~{header :: navMenu}"></div>
	<div class="container mb-5">
		<div class="col">
			<h2 class="text-center mb-5"
				th:text="${editMode.name == 'CREATE'} ? 'New ' : 'Update'"></h2>
			<form method="post" action="save" th:object="${item}">
				<label>ID</label> <input readonly class="form-control"
					th:field="${item.id}"> <label>text</label> <input
					class="form-control" th:field="${item.text}"> <label>startTime</label>
				<input class="form-control" th:field="${item.startTime}"> <label>endTime</label>
				<input class="form-control" th:field="${item.endTime}">



				<div class="row mb-5">
					<button class="btn btn-primary" type="submit">Submit</button>
					<a class="btn btn-outline-primary" th:href="${baseItem.id}">Cancel</a>
				</div>



			</form>

			<p th:text="${baseItem.id}">
			<div class="table-responsive">
				<table class="table">

					<thead>
						<tr>
							<th scope="col">Lang</th>
							<th scope="col">name</th>

						</tr>

					</thead>
					<tbody>
						<tr th:each="item : ${translatedRows}">
							<td th:text="${item.getTargetLang()}" scope="row"></td>
							<td th:text="${item.getTranslatedName()}"></td>
					</tbody>

				</table>
			</div>


			<div th:insert="~{header :: bootstrap}"></div>
</body>

</html>