<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Subtitlerows</title>

</head>

<body>
	<div th:insert="~{header :: navMenu}"></div>

	<div class="container my-3">
		<h1 class="text-center mb-3">
			Subtitlerows für <a
				th:href="@{/subtitlefiles/edit(id = ${baseItem.id})}"
				th:text="${baseItem.name}"> </a>
		</h1>
		<a class="btn btn-primary"
			th:href="@{/subtitlerows/}+${baseItem.id}+'/create'">Create </a> <a
			class="btn btn-primary"
			th:href="@{/subtitlerows/}+${baseItem.id}+'/parsesubtitels'">Parse
			file to Rows</a>
			
			<a
			class="btn btn-primary"
			th:href="@{/subtitlerows/}+${baseItem.id}+'/translaterows'">Translate Rows</a>
		
	</div>
	<div class="container">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col">id</th>
					<th scope="col">startTime</th>
					<th scope="col">endTime</th>
					<th scope="col">text</th>
					<th>Action</th>

				</tr>

			</thead>
			<tbody>
				<tr th:each="item : ${items}">
					<td th:text="${item.id}" scope="row"></td>

					<td th:text="${item.startTime}"></td>
					<td th:text="${item.endTime}"></td>
					<td th:text="${item.text}"></td>
					<td><a class="btn btn-primary btn-sm"
						th:href="@{/subtitlerows/view(id = ${item.id})}">View</a>
					<a class="btn btn-primary btn-sm"
						th:href="@{/subtitlerows/edit(id = ${item.id})}">Edit</a> <a
						class="btn btn-danger btn-sm"
						th:href="@{/subtitlerows/delete(id = ${item.id})}"
						onclick="return confirm('Are you sure?')">Delete</a> <!-- <a class = "btn btn-danger btn-sm" th:href="@{subtitlerows/(wordId = ${item.id})}">Examples</a> -->
					</td>
			</tbody>

		</table>
	</div>





	<!-- Bootstrap JS and dependencies -->
	<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script> -->

	<div th:insert="~{header :: bootstrap}"></div>
</body>

</html>