<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Word</title>

</head>

<body>
	<div th:insert="~{header :: navMenu}"></div>
	<div class="container mb-5"> 
		<div class="col">
			<h2 class="text-center mb-5"
				th:text="${editMode.name == 'CREATE'} ? 'New ' : 'Update'"></h2>
			<form method="post" action="save" th:object="${item}">
				<label>ID</label> <input readonly class="form-control"
					th:field="${item.id}"> <label>Name</label> <input
					class="form-control" th:field="${item.name}"> <label>important</label><input
					class="form-control" th:field="${item.important}"> <label>kindOfWord</label><input
					class="form-control" th:field="${item.kindOfWord}"> <label>baseForm</label><input
					class="form-control" th:field="${item.baseForm}">


				<div class="row mb-5">
					<button class="btn btn-primary" type="submit">Submit</button>
					<a class="btn btn-outline-primary" href="/words">Cancel</a>
				</div>



			</form>

		
		<div th:insert="~{header :: bootstrap}"></div>
</body>

</html>